.container {
    @apply flex flex-wrap flex-col w-full h-auto bg-[#212529]
}

.item {

}

.item:hover{
    @apply border-white border-2
}

.wrapper {
    @apply flex flex-wrap flex-row m-6 overflow-hidden
}

.anim_vetical {
    @apply w-[80px] h-[7px] bg-green-500  absolute mt-[34.6vh] left-[0] shadow-2xl shadow-green-900 ;
    animation-name: vertical1;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
.anim_horizontal2{
    @apply w-[80px] h-[7px] bg-green-500  absolute mt-[34.5vh] right-[0] shadow-2xl shadow-green-900 ;
    animation-name: vertical2;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}
.anim_horizontal {
    @apply w-[7px] h-[80px] bg-green-500  absolute shadow-2xl shadow-green-900 left-[33.3vw] translate-y-[-4vh];
    animation-name: horizontal;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes vertical1 {
    25% {
        transform: translateX(95vw);

    }
    50% {
        transform: translateX(0vw);

    }
    75% {
        transform: translateX(95vw);

    }
    100% {
        transform: translateX(0vw);

    }
}
@keyframes vertical2 {
    25% {
        transform: translateX(-95vw);

    }
    50% {
        transform: translateX(0vw);

    }
    75% {
        transform: translateX(-95vw);

    }
    100% {
        transform: translateX(0vw);

    }
}


@keyframes horizontal {
    25% {
        transform: translateY(95vh);

    }
    50% {
        transform: translateY(-3vh);

    }
    75% {
        transform: translateY(95vh);


    }
    100% {
        transform: translateY(-3vh);

    }
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height:100%;
    object-fit: contain;
    transition-duration: 0.5s;
}
.container img:hover{
   width: 80%;
    height:80%;
}


.card {
    position: relative;
    width: 300px;
    height: 300px;
    color: #fff;
    margin-left: 8vw;
    margin-top: 2vh;
    background: transparent;
    align-self: center;
    overflow: hidden;
    border-top: 1px solid rgba(7, 255, 20, 0.5);
    border-right: 1px solid rgba(7, 255, 20, 0.5);
    border-bottom: 1px solid rgba(57, 255, 20, 0.5);
    border-left: 1px solid rgba(7, 255, 20, 0.5);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}

.container p {
    font-size: 0.95rem;
    text-align: center;
}

.container span {
    position: absolute;
    border-radius: 100vmax;
}

.top {
    top: 0;
    left: 0;
    width: 0;
    height: 5px;
    background: linear-gradient(
            90deg,
            transparent 50%,
            rgb(57, 255, 20),
            rgba(57, 255, 20, 0.5)
    );
}

.bottom {
    right: 0;
    bottom: 0;
    height: 5px;
    background: linear-gradient(
            90deg,
            rgb(57, 255, 20),
            rgba(57, 255, 20, 0.5),
            transparent 50%
    );
}

.right {
    top: 0;
    right: 0;
    width: 5px;
    height: 0;
    background: linear-gradient(
            180deg,
            transparent 30%,
            rgb(57, 255, 20),
            rgba(57, 255, 20, 0.5)
    );
}

.left {
    left: 0;
    bottom: 0;
    width: 5px;
    height: 0;
    background: linear-gradient(
            180deg,
            rgb(57, 255, 20),
            rgba(57, 255, 20, 0.5),
            transparent 70%
    );
}

.top {
    animation: animateTop 3s ease-in-out infinite;
}

.bottom {
    animation: animateBottom 3s ease-in-out infinite;
}

.right {
    animation: animateRight 3s ease-in-out infinite;
}

.left {
    animation: animateLeft 3s ease-in-out infinite;
}

@keyframes animateTop {
    25% {
        width: 100%;
        opacity: 1;
    }

    30%,
    100% {
        opacity: 0;
    }
}

@keyframes animateBottom {
    0%,
    50% {
        opacity: 0;
        width: 0;
    }

    75% {
        opacity: 1;
        width: 100%;
    }

    76%,
    100% {
        opacity: 0;
    }
}

@keyframes animateRight {
    0%,
    25% {
        opacity: 0;
        height: 0;
    }

    50% {
        opacity: 1;
        height: 100%;
    }

    55%,
    100% {
        height: 100%;
        opacity: 0;
    }
}

@keyframes animateLeft {
    0%,
    75% {
        opacity: 0;
        bottom: 0;
        height: 0;
    }

    100% {
        opacity: 1;
        height: 100%;
    }
}
